In [1]:
import pandas as pd
import os
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [2]:
# import all data that need to be processed
# Air and Climate
files_air_and_climate = os.listdir('../data/Air and Climate')
df_name_air_and_climate = []
# import csv with '_preprocessed' in name but "_imputed" not in name as pd.DataFrame
for file in files_air_and_climate:
    if '_processed' in file and '_imputed' not in file:
        globals()[file[:-4]] = pd.read_csv('../data/Air and Climate/' + file)
        df_name_air_and_climate.append(file[:-4])
        # print dataframe name
        print(file[:-4])
# Inland Water Resources
files_inland_water_resources = os.listdir('../data/Inland Water Resources')
df_name_inland_water_resources = []
# import csv with '_preprocessed' in name as pd.DataFrame
for file in files_inland_water_resources:
    if '_processed' in file and '_imputed' not in file:
        globals()[file[:-4]] = pd.read_csv('../data/Inland Water Resources/' + file)
        df_name_inland_water_resources.append(file[:-4])
        # print dataframe name
        print(file[:-4])
# Waste
files_waste = os.listdir('../data/Waste')
df_name_waste = []
# import csv with '_preprocessed' in name as pd.DataFrame
for file in files_waste:
    if '_processed' in file and '_imputed' not in file:
        globals()[file[:-4]] = pd.read_csv('../data/Waste/' + file)
        df_name_waste.append(file[:-4])
        # print dataframe name
        print(file[:-4])

SO2_emissions_processed
CO2_Emissions_processed
GHG_Emissions_processed
CH4_Emissions_processed
NOx_Emissions_processed
N2O_Emissions_processed
Net freshwater supplied by water supply industry_processed
Freshwater abstracted_processed
Population connected to wastewater collecting system_processed
Wastewater treated in other treatment plants_processed
Internal flow_processed
Renewable freshwater resources_processed
Fresh surface water abstracted_processed
Wastewater treated in independent treatment facilities_processed
Population connected to wastewater treatment_processed
Actual evapotranspiration_processed
Non-treated wastewater_processed
Inflow of surface and goundwaters from neighbouring countries_processed
Fresh groundwater abstracted_processed
Precipitation_processed
Renewable freshwater resources per capita_processed
Total population supplied by water supply industry_processed
Wastewater generated_processed
Net freshwater supplied by water supply industry to households_processed
Wastewater treated in urban treatment plants_processed
Hazardous waste generated_processed
Hazardous waste treated or disposed_processed
Hazardous waste generated per capita_processed
Hazardous waste landfilled_processed
Hazardous waste recycled_processed
Hazardous waste incinerated_processed

In [3]:
# convert '...' and 'NaN' into np.nan
# remove ',' in numbers
for df_name in df_name_air_and_climate:
    globals()[df_name] = globals()[df_name].replace('...', np.nan)
    globals()[df_name] = globals()[df_name].replace('NaN', np.nan)
    globals()[df_name] = globals()[df_name].replace(',', '', regex=True)
for df_name in df_name_inland_water_resources:
    globals()[df_name] = globals()[df_name].replace('...', np.nan)
    globals()[df_name] = globals()[df_name].replace('NaN', np.nan)
    globals()[df_name] = globals()[df_name].replace(',', '', regex=True)
for df_name in df_name_waste:
    globals()[df_name] = globals()[df_name].replace('...', np.nan)
    globals()[df_name] = globals()[df_name].replace('NaN', np.nan)
    globals()[df_name] = globals()[df_name].replace(',', '', regex=True)

In [5]:
# show all column names in jyuptyer notebook
pd.set_option('display.max_columns', None)
globals()['Hazardous waste generated per capita_processed'].head()

,Country ID,Country,1990,1995,1996,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,Footnotes 1990,Footnotes 1995,Footnotes 1996,Footnotes 2000,Footnotes 2001,Footnotes 2002,Footnotes 2003,Footnotes 2004,Footnotes 2005,Footnotes 2006,Footnotes 2007,Footnotes 2008,Footnotes 2009,Footnotes 2010,Footnotes 2011,Footnotes 2012,Footnotes 2013,Footnotes 2014,Footnotes 2015,Footnotes 2016,Footnotes 2017,Basel Convention,CITES,Convention on Biological Diversity,Convention on Migratory Species,Kyoto Protocol,Montreal Protocol,Paris Agreement,Ramsar Convention,Rotterdam Convention,Stockholm Convention,UN Convention on the Law of the Sea,UN Convention to Combat Desertification,UN Framework Convention on Climate Change,World Heritage Convention,2000 Percent Change,2001 Percent Change,2002 Percent Change,2003 Percent Change,2004 Percent Change,2005 Percent Change,2006 Percent Change,2007 Percent Change,2008 Percent Change,2009 Percent Change,2010 Percent Change,2011 Percent Change,2012 Percent Change,2013 Percent Change,2014 Percent Change,2015 Percent Change,2016 Percent Change
0,12.0,Algeria,NaN,6.400432213,NaN,NaN,NaN,NaN,10.029776,NaN,NaN,NaN,9.478113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1998,1983,1995.0,2005,2005,1992.0,2016,1984,NaN,2006,1996,1996.0,1993.0,1974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20.0,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.083694,26.270940,22.925134,24.883887,19.838435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,1999,…,2015.0,NaN,NaN,2009.0,2017,2012,NaN,NaN,NaN,2002.0,2011.0,1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.408182,-12.735768,8.544126,-20.275978
2,51.0,Armenia,NaN,NaN,NaN,124.309191,123.088320,124.559271,114.021577,117.109443,116.167364,119.073517,123.514519,150.352632,152.678116,151.321071,160.974708,163.261076,199.838215,197.918823,189.733505,209.618464,184.472342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,1999,2008,1993.0,2011,2003,1999.0,2017,1993,2003,2003,2002,1997.0,1993.0,1993,-0.982124,1.195037,-8.459984,2.708142,-0.804443,2.501695,3.729630,21.728711,1.546687,-0.888828,6.379573,1.420328,22.404078,-0.960473,-4.135695,10.480468,-11.996139
3,40.0,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.372406,NaN,116.104981,NaN,159.500090,NaN,175.133523,NaN,125.140240,NaN,147.679365,NaN,144.153297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993,1982,1994.0,2005,2002,1989.0,2016,1983,2002,2002,1995,1997.0,1994.0,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31.0,Azerbaijan,NaN,3.472221329,NaN,3.269340,2.005178,1.181223,3.212516,1.323607,1.502704,3.426690,1.200210,2.751786,14.772858,15.496448,20.300493,32.054190,21.616612,48.037402,27.285001,64.975281,27.014877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001,1998,2000.0,NaN,2000,1996.0,2017,2001,NaN,2004,2016,1998.0,1995.0,1993,-38.667201,-41.091355,171.965261,-58.798429,13.530997,128.034860,-64.974641,129.275281,436.846255,4.898102,31.000941,57.898580,-32.562288,122.224469,-43.200506,138.135525,-58.422839

In [5]:
# # split dataframes into two parts: columns need to be interpolated and columns don't need to be interpolated
# # convert '...' and 'NaN' into np.nan
# # Air and Climate
# df_name_air_and_climate_need_interpolation = []
# df_name_air_and_climate_no_need_interpolation = []
# for df_name in df_name_air_and_climate:
#     globals()[df_name] = globals()[df_name].replace('...', None)
#     globals()[df_name] = globals()[df_name].replace('NaN', None)
#     # split dataframes into two parts: columns need to be interpolated and columns don't need to be interpolated
#     globals()[df_name + '_need_interpolation'] = globals()[df_name].iloc[:, 2:31]
#     globals()[df_name + '_no_need_interpolation'] = globals()[df_name].iloc[:, 0:2] + globals()[df_name].iloc[:, 31:]
#     # save dataframe names
#     df_name_air_and_climate_need_interpolation.append(df_name + '_need_interpolation')
#     df_name_air_and_climate_no_need_interpolation.append(df_name + '_no_need_interpolation')

In [6]:
# df_name = 'CO2_Emissions_processed_need_interpolation'
# globals()[df_name].columns = pd.to_datetime(globals()[df_name].columns, format='%Y').year
# # globals()[df_name].dropna(thresh=2, axis=0)
# globals()[df_name+'_interpolated'] = globals()[df_name].dropna(thresh=3, axis=0).interpolate(method='time', order=2, axis=1, limit_direction='both', limit=27)
# globals()[df_name+'_interpolated'].columns = pd.to_datetime(globals()[df_name+'_interpolated'].columns, format='%Y').year
# # update the original dataframe
# globals()[df_name].update(globals()[df_name+'_interpolated'], overwrite=True)
# globals()[df_name]

In [172]:
# Impute missing values
# Air and Climate
for df_name in df_name_air_and_climate:
    for row in range(globals()[df_name].shape[0]):
        # if the row has less than 3 non-NaN values or all values are non-NaN, skip
        if globals()[df_name].iloc[row, 2:31].notnull().sum() < 3 or globals()[df_name].iloc[row, 2:31].isnull().sum() == 0:
            continue
        else:
            # fit an logistic regression model to predict the missing values
            # select data that is not NaN in the row as training data
            X_train = globals()[df_name].iloc[row, 2:31][~globals()[df_name].iloc[row, 2:31].isnull()].index.values.astype('int64').reshape(-1, 1)
            y_train = globals()[df_name].iloc[row, 2:31][~globals()[df_name].iloc[row, 2:31].isnull()].values.astype('float64')
            # fit a Polynomial Regression model
            poly_reg = PolynomialFeatures(degree=2)
            X_poly = poly_reg.fit_transform(X_train)
            lin_reg = LinearRegression()
            lin_reg.fit(X_poly, y_train)
            # predict the missing values
            X_test = globals()[df_name].iloc[row, 2:31][globals()[df_name].iloc[row, 2:31].isnull()].index.values.astype('int64').reshape(-1, 1)
            y_pred = lin_reg.predict(poly_reg.fit_transform(X_test))
            # update the original dataframe based on X_test and y_pred using DataFrame.at
            for i in range(len(X_test)):
                globals()[df_name].at[row, str(X_test[i][0])] = y_pred[i]
    # save the imputed dataframe
    globals()[df_name].to_csv('../data/Air and Climate/' + df_name + '_imputed.csv', index=False)
    print(df_name + ' imputed')

CO2_Emissions_processed imputed
NOx_Emissions_processed imputed
GHG_Emissions_processed imputed
SO2_emissions_processed imputed
CH4_Emissions_processed imputed
N2O_Emissions_processed imputed

In [12]:
# Inland Water Resources
for df_name in df_name_inland_water_resources:
    for row in range(globals()[df_name].shape[0]):
        # if the row has less than 3 non-NaN values or all values are non-NaN, skip
        if globals()[df_name].iloc[row, 2:26].notnull().sum() < 3 or globals()[df_name].iloc[row, 2:26].isnull().sum() == 0:
            # print(df_name + ' row ' + str(row) + ' skipped')
            continue
        else:
            # fit an logistic regression model to predict the missing values
            # select data that is not NaN in the row as training data
            X_train = globals()[df_name].iloc[row, 2:26][~globals()[df_name].iloc[row, 2:26].isnull()].index.values.astype('int64').reshape(-1, 1)
            y_train = globals()[df_name].iloc[row, 2:26][~globals()[df_name].iloc[row, 2:26].isnull()].values.astype('float64')
            # fit a Polynomial Regression model
            poly_reg = PolynomialFeatures(degree=2)
            X_poly = poly_reg.fit_transform(X_train)
            lin_reg = LinearRegression()
            lin_reg.fit(X_poly, y_train)
            # predict the missing values
            X_test = globals()[df_name].iloc[row, 2:26][globals()[df_name].iloc[row, 2:26].isnull()].index.values.astype('int64').reshape(-1, 1)
            y_pred = lin_reg.predict(poly_reg.fit_transform(X_test))
            # update the original dataframe based on X_test and y_pred using DataFrame.at
            for i in range(len(X_test)):
                globals()[df_name].at[row, str(X_test[i][0])] = y_pred[i]
            # print(df_name + ' row ' + str(row) + ' imputed')
    # save the imputed dataframe
    globals()[df_name].to_csv('../data/Inland Water Resources/' + df_name + '_imputed.csv', index=False)
    print(df_name + ' imputed')

Wastewater generated_processed imputed
Actual evapotranspiration_processed imputed
Population connected to wastewater treatment_processed imputed
Freshwater abstracted_processed imputed
Total population supplied by water supply industry_processed imputed
Inflow of surface and goundwaters from neighbouring countries_processed imputed
Net freshwater supplied by water supply industry to households_processed imputed
Internal flow_processed imputed
Wastewater treated in other treatment plants_processed imputed
Fresh surface water abstracted_processed imputed
Precipitation_processed imputed
Non-treated wastewater_processed imputed
Wastewater treated in independent treatment facilities_processed imputed
Renewable freshwater resources_processed imputed
Wastewater treated in urban treatment plants_processed imputed
Net freshwater supplied by water supply industry_processed imputed
Renewable freshwater resources per capita_processed imputed
Population connected to wastewater collecting system_processed imputed
Fresh groundwater abstracted_processed imputed

In [21]:
df_name = "Hazardous waste generated per capita_processed"
globals()[df_name].iloc[:,58:]

,2000 Percent Change,2001 Percent Change,2002 Percent Change,2003 Percent Change,2004 Percent Change,2005 Percent Change,2006 Percent Change,2007 Percent Change,2008 Percent Change,2009 Percent Change,2010 Percent Change,2011 Percent Change,2012 Percent Change,2013 Percent Change,2014 Percent Change,2015 Percent Change,2016 Percent Change
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.408182,-12.735768,8.544126,-20.275978
2,-0.982124,1.195037,-8.459984,2.708142,-0.804443,2.501695,3.729630,21.728711,1.546687,-0.888828,6.379573,1.420328,22.404078,-0.960473,-4.135695,10.480468,-11.996139
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-38.667201,-41.091355,171.965261,-58.798429,13.530997,128.034860,-64.974641,129.275281,436.846255,4.898102,31.000941,57.898580,-32.562288,122.224469,-43.200506,138.135525,-58.422839
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.712055,7.002280,93.707992
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
for df_name in df_name_waste:
    print(df_name)
    if df_name == "Hazardous waste generated_processed":
        print(globals()[df_name].iloc[:, 64:].columns)

Hazardous waste generated_processed
Index(['World Heritage Convention', '2000 Percent Change',
       '2001 Percent Change', '2002 Percent Change', '2003 Percent Change',
       '2004 Percent Change', '2005 Percent Change', '2006 Percent Change',
       '2007 Percent Change', '2008 Percent Change', '2009 Percent Change',
       '2010 Percent Change', '2011 Percent Change', '2012 Percent Change',
       '2013 Percent Change', '2014 Percent Change', '2015 Percent Change',
       '2016 Percent Change'],
      dtype='object')
Hazardous waste treated or disposed_processed
Hazardous waste generated per capita_processed
Hazardous waste landfilled_processed
Hazardous waste recycled_processed
Hazardous waste incinerated_processed

In [38]:
# Waste
for df_name in df_name_waste:
    i_col = 64
    if df_name == "Hazardous waste generated per capita_processed":
        i_col = 58
    elif df_name == "Hazardous waste generated_processed":
        i_col = 65
    for row in range(globals()[df_name].shape[0]):
        # if the row has less than 3 non-NaN values or all values are non-NaN, skip
        if globals()[df_name].iloc[row, i_col:].notnull().sum() < 3 or globals()[df_name].iloc[row, i_col:].isnull().sum() == 0:
            continue
        else:
            # fit an logistic regression model to predict the missing values
            # select data that is not NaN in the row as training data
            X_train = globals()[df_name].iloc[row,i_col:][~globals()[df_name].iloc[row, i_col:].isnull()].index.values.astype('int64').reshape(-1, 1)
            y_train = globals()[df_name].iloc[row, i_col:][~globals()[df_name].iloc[row, i_col:].isnull()].values.astype('float64')
            # fit a Polynomial Regression model
            poly_reg = PolynomialFeatures(degree=2)
            X_poly = poly_reg.fit_transform(X_train)
            lin_reg = LinearRegression()
            lin_reg.fit(X_poly, y_train)
            # predict the missing values
            X_test = globals()[df_name].iloc[row, i_col:][globals()[df_name].iloc[row, i_col:].isnull()].index.values.astype('int64').reshape(-1, 1)
            y_pred = lin_reg.predict(poly_reg.fit_transform(X_test))
            # update the original dataframe based on X_test and y_pred using DataFrame.at
            for i in range(len(X_test)):
                globals()[df_name].at[row, str(X_test[i][0])] = y_pred[i]
    # save the imputed dataframe
    globals()[df_name].to_csv('../data/Waste/' + df_name + '_imputed.csv', index=False)
    print(df_name + ' imputed')

[['2013 Percent Change']
 ['2014 Percent Change']
 ['2015 Percent Change']
 ['2016 Percent Change']]

ValueError: could not convert string to float: '2013 Percent Change'